# Python cache
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/

# Packaging artifacts
*.egg-info/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Env files
.env

# Transformers cache
.cache/
huggingface/

# Logs
*.log

# DO NOT ignore data or docs
# data/
# docs/
