name: Deploy Pages

on:
  workflow_run:
    workflows: ["Build Dashboard"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/deploy-pages@v4

