name: Monthly Metrics

on:
  schedule:
    - cron: "55 19 1 * *"   # 1st of month 01:25 AM IST
  workflow_dispatch:

jobs:
  monthly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt
      - run: echo "PYTHONPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - run: python scripts/metrics/monthly_metrics.py
